[Desktop Entry]
Name=Vivid-Dark-Plasma
Comment=Vivid Dark Plasma Theme by l4k1
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Email=l4k1987@gmail.com
X-KDE-PluginInfo-Name=Vivid-Dark-Plasma
X-KDE-PluginInfo-Version=5.2
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Website=https://github.com/L4ki/Vivid-Plasma-Themes
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[AdaptiveTransparency]
enabled=true

[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7

[BlurBehindEffect]
enabled=true
